 
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
 *{
font-family: 'noto serif';
padding: 0;
margin: 0;

 }
 body{
    height: 100vh;
    background-image:
    linear-gradient(to right, hwb(0 2% 98% / 0.961), hsla(94, 74%, 6%, 0.984))
   ;  
   display: flex;
   justify-content: center;
   align-content: center;  

  
    }

.container{
    background-image:
    linear-gradient(to left , hwb(98 16% 66% / 0.626), hsla(80, 20%, 3%, 0.941)),
   url(new.jpg); 
   width: 90%;
   background-position: center;

}
.container:hover{
    background-image: linear-gradient(to left ,transparent, hsla(0, 0%, 3%, 0.941)60%)
    ,url(new.jpg);

    
}header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


a{
    text-decoration: none;
    color: #ffffff;
}
.logo{ 
    font-size: 30px;
    text-transform: uppercase;
}

.nav{
width: 600px;
list-style: none;
display: flex;
justify-content: space-evenly;

}
ul a{
border-bottom: 2px solid transparent ;


}
ul a:hover{
    border-bottom: 2px solid  white ;
    
    
    }

.content{
width: 600px;
margin: 120px 100px 1000px 50px;
color:white;


}
h2{
    text-transform: uppercase;
    font-size: 50px;
}
p{
    width: 400px;
    padding: 10px 0PX;
    list-style: 2PX;
}
button{
    border:2px solid black;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0px 0px 0px;
    
}
button:hover{
 background-color: transparent;
 border: 2px solid white;
 color: #ffffff;




}

